// Buttons style


// Favourite, Watch later Button
.movie-list {

    .movie-info {
        .toggleFav,
        .toggleWatch {

            button {
                height: 40px;
                width: 40px;
            }
        }

        .favMovie {
            border: none;
            background: url('../../images/svg/btn-fillheart-circle.svg') no-repeat 5% center;
            background-size: 40px;
            font-size: 0;
            position: absolute;
            top: 0%;
            left: 10%;
            transform: translate(0%, -50%);
        }

        .unfavMovie {
            border: none;
            background: url('../../images/svg/btn-lineheart-circle.svg') no-repeat 5% center;
            background-size: 40px;
            font-size: 0;
            position: absolute;
            top: 0%;
            left: 10%;
            transform: translate(0%, -50%);
        }

        .watchMovie {
            border: none;
            background: url('../../images/svg/btn-fillplus-circle.svg') no-repeat 5% center;
            background-size: 40px;
            font-size: 0;
            position: absolute;
            top: 0%;
            left: 10%;
            transform: translate(0%, 50%);
        }

        .unwatchMovie {
            border: none;
            background: url('../../images/svg/btn-lineplus-circle.svg') no-repeat 5% center;
            background-size: 40px;
            font-size: 0;
            position: absolute;
            top: 0%;
            left: 10%;
            transform: translate(0%, 50%);
        }

    }

    .movie-poster-wrap {
        position: relative;
    }

}


// Single Movie page buttons
.favbtn,
.watchbtn {
    margin: 10px 10px 0px 0px;

    button {
        height: 38px;
        width: auto;
        font-size: 0.8em;
        border-radius: 20px;
        padding: 5px 10px 5px 35px;
        border: 0.5px solid white;
    }
}

.favMovie {
    background-color: transparent;
    color: white;
    background: url('../../images/svg/btn-fillheart.svg') no-repeat 5% center;
    background-size: 20px;
}

.unfavMovie {
    background-color: transparent;
    color: white;
    background: url('../../images/svg/btn-lineheart.svg') no-repeat 5% center; 
    background-size: 20px;
}

.watchMovie {
    background-color: transparent;
    color: white;
    background: url('../../images/svg/btn-fillplus.svg') no-repeat 5% center;
    background-size: 20px;
}

.unwatchMovie {
    background-color: transparent;
    color: white;
    background: url('../../images/svg/btn-lineplus.svg') no-repeat 5% center;
    background-size: 20px;
}

.smovie-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
}