//Buttons

// front-page load-more Btn
// .load-more {
//     text-align: center;
//     padding: 40px 0px;

//     button{
//         background-color: $red;
//         color:white;
//         border: none;
//         border-radius: 50px;
//         font-size: 1em;
//         padding: 10px;
//         width: 200px;
//     }
// }

// movie info favourite, watch later Btn
.movie-list {

    .movie-info {

        .toggleFav,
        .toggleWatch {

            button {
                height: 40px;
                width: 40px;
            }

        }

        .favMovie {
            // color: red;
            border: none;
            background:url('../../images/svg/btn-fillheart-circle.svg') no-repeat 5% center;
            // background-color: blue;
            background-size: 40px;
            font-size: 0;
            position: absolute;
            top: 0%;
            left: 10%;
            transform: translate(0%, -50%);
        }

        .unfavMovie {
            // color: red;
            border: none;
            background:url('../../images/svg/btn-lineheart-circle.svg') no-repeat 5% center;
            // background-color: blue;
            background-size: 40px;
            font-size: 0;
            position: absolute;
            top: 0%;
            left: 10%;
            transform: translate(0%, -50%);
        }

        .watchMovie {
            // color: red;
            border: none;
            background:url('../../images/svg/btn-fillplus-circle.svg') no-repeat 5% center;
            // background-color: blue;
            background-size: 40px;
            font-size: 0;
            position: absolute;
            top: 0%;
            left: 10%;
            transform: translate(0%, 50%);
        }

        .unwatchMovie {
            // color: red;
            border: none;
            background:url('../../images/svg/btn-lineplus-circle.svg') no-repeat 5% center;
            // background-color: blue;
            background-size: 40px;
            font-size: 0;
            position: absolute;
            top: 0%;
            left: 10%;
            transform: translate(0%, 50%);
        }

    }

    .movie-poster-wrap {
        position: relative;
    }

}



// singleMovie.js Btn
.favbtn,
.watchbtn {

    margin: 10px 10px 0px 0px;

    button {
        height: 38px;
        // width: 180px;
        width: auto;
        font-size: 0.8em;
        border-radius: 20px;
        padding: 5px 10px 5px 35px;
        border: 0.5px solid white;
    }

}

.favMovie {
    background-color: transparent;
    color: white;
    background:url('../../images/svg/btn-fillheart.svg') no-repeat 5% center;
    background-size: 20px;
}

.unfavMovie {
    background-color: transparent;
    color: white;
    background:url('../../images/svg/btn-lineheart.svg') no-repeat 5% center; 
    background-size: 20px;
}

.watchMovie {
    background-color: transparent;
    color: white;
    background:url('../../images/svg/btn-fillplus.svg') no-repeat 5% center;
    background-size: 20px;
}

.unwatchMovie {
    background-color: transparent;
    color: white;
    background:url('../../images/svg/btn-lineplus.svg') no-repeat 5% center;
    background-size: 20px;
}

.smovie-btn-wrapper {
    display: flex;
    flex-wrap: wrap;
}