.charts{
    form{
        padding: 10px 30px;
        display: grid;
        grid-template-columns: 30% 1fr;
        align-items: center;
        @include mq($phoneLandscape) { 
            grid-template-columns: 35% 1fr;
            padding-left: 0px;
        }
        select{
            border: 2px solid $red; 
            @include mq($phoneLandscape) { 
              width:150px;
            }  
        }
    }
}