header{
    padding-top: 1.5em;
    
    .mobile-header {
        position: relative;
        padding-bottom: 20px;
        z-index: 3;

        h1{
            margin: 0;
            .logo{
                width:70px;
                height: 52px;
                background-image: url('/images/mvdb_logo.svg'); 
                @include bg-img;
                margin: 0 auto; 
                @include mq($phoneLandscape){
                    margin: 0;
                }
            }
            @include mq($phoneLandscape){
                justify-items: start;
            }
        
        }
    }
    
}


@include mq($mq620){
    .header-oneline {

        header {
            display: grid;
            grid-template-columns: 20% 1fr;
            
            
        }
    }
}

.header-oneline {
    @include mq($phoneLandscape){
    position: relative;
    width: 90%;
    margin: 0 auto;
    }
}


