header{
    padding-top: 1.5em;
    
    .mobile-header {
        position: relative;
        padding-bottom: 20px;

        h1{
            margin: 0;
            .logo{
                width:70px;
                height: 52px;
                background-image: url('/images/mvdb_logo.svg'); 
                @include bg-img;

                margin: 0 auto;   
            }
        
        }
    }
    
}
header.show nav, header.show span.logo {
    display: block;
}

header.show nav{
    position: absolute;
    z-index: 2;
}
header.show nav a:hover,
header.show nav a:active,
header.show nav a:focus{
    background-color: $red;
}

header.show #nav-hm .hm-menu:nth-child(1){
    top:18px;
    width:0%;
    left:50%;
 }

 header.show #nav-hm .hm-menu:nth-child(2){
    -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
 }

 header.show #nav-hm .hm-menu:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 12px;
  }
  
  header.show #nav-hm .hm-menu:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

@include mq($phoneLandscapeSmall){
    .header-oneline {

        header {
            display: grid;
            grid-template-columns: 20% 1fr;
            align-items: center;
            
        }
    }
}


