.results.movie-lists{
    width: 70vw;
    top: 0;
    left: 50%;
    padding: 0;
    background-color: rgba(2, 54, 89, 0.95);
    transform: translate(-50%);

    .movie-list-results{
        a{
            text-decoration: none;
            color: white;
            width: 100%;
            height: 100%;
            // border: 2px solid red;
        }
        :hover,
        :active,
        :focus{
            background-color: rgba(51, 102, 136, 0.742);
        
        } 
        .movie-results{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            align-items: center;
            justify-items: center;
            height: 100px;
            @include mq($phoneLandscape){
                height: 130px;
            }
    
            figure{
                width: 60px;
                margin: 0 10px;  
                @include mq($phoneLandscape){
                    width: 80px;
                }   
            }
           .movie-text {
            justify-self: start;
            word-wrap: break-word;
            width: 70PX;

                h3{
                    font-size: 0.8em;
                    @include mq($phoneLandscapeSmall){
                        font-size: 1em;
                    }
                    @include mq($tabletPortrait){
                        font-size: 1.2em;
                    }
                }

                @include mq($phoneLandscapeSmall){
                    width: 150px;
                }
                @include mq($tabletLandscape){
                    width: 280px;
                }
            }
            .rate-starts{
                margin: 0 3px;
                justify-self: start;
                @include mq($tabletLandscape){
                    margin: 0 10px;
                }
                .star-img{
                    img{
                      height: 12px; 

                      @include mq($phoneLandscapeSmall){
                        height: 18px; 
                     } 
                     @include mq($phoneLandscape){
                        height: 20px; 
                     } 
                    }
                   
                    
                }
                .release-date{
                    padding-top: 5px;
                    p{
                        font-size: 0.75em;

                        @include mq($phoneLandscapeSmall){
                            font-size: 0.9em;
                        }
                        @include mq($tabletPortrait){
                            font-size: 1.2em;
                        }
                    }
                    // flex: 0 0 100px;
                    //justify-content: flex-end;
                }
            }
        }
    }  
        
}

    
    
.movie-lists{
    padding: 50px 0px 20px;

    h2 {
        padding-bottom: 50px;
        color: $red;
    }

    @include mq($phoneLandscape){
        .movie-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
    }

    @include mq($desktopsmall){
        .movie-list{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.movie-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    border: 1px solid $blue;
    justify-items: center;

    @include mq($phoneLandscape){
        height: 335px;
    }
    

    figure{
        margin: 5px;
        position: relative;
        top: -40px;

        @include mq($tabletLandscape){
            width:200px;
        }
    }
    .movie-text{
        padding: 10px;
        padding-bottom: 25px;

        a {
            text-decoration: none;
            color: white;
        }

        @include mq($tabletLandscape){
            padding-right: 30px;
        }


        h3{
            padding: 10px 0;
        }
    
        .rating {
            display: flex;
            padding-bottom: 10px;
        
        .star-img{
            img{
                // height: 25px;
                height: 20px;
            }
    
           }
        }
        .released-date{
            padding-bottom: 10px;
        }
        .movie-summary{
            max-height: 98px;
            overflow: hidden;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        button {
            color: white;
            border: 1px solid white;
            background: transparent;
            padding: 5px;
            width: 100%;
        }
    }
}
.movie-info:not(:last-child){
    margin-bottom: 50px;
}