.movie-lists{
    padding: 50px 0px 20px;

    h2 {
        padding-bottom: 50px;
        color: $red;
    }

    @include mq($phoneLandscape){
        .movie-list {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 20px;
        }
    }

    @include mq($desktopsmall){
        .movie-list{
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.movie-info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    border: 1px solid $blue;
    justify-items: center;

    @include mq($phoneLandscape){
        height: 335px;
    }
    

    figure{
        margin: 5px;
        position: relative;
        top: -40px;

        @include mq($tabletLandscape){
            width:200px;
        }
    }
    .movie-text{
        padding: 10px;
        padding-bottom: 25px;

        a {
            text-decoration: none;
            color: white;
        }

        @include mq($tabletLandscape){
            padding-right: 30px;
        }


        h3{
            padding: 10px 0;
        }
    
        .rating {
            display: flex;
            padding-bottom: 10px;
        
        .star-img{
            img{
                // height: 25px;
                height: 20px;
            }
    
           }
        }
        .released-date{
            padding-bottom: 10px;
        }
        .movie-summary{
            max-height: 98px;
            overflow: hidden;
            padding-bottom: 10px;
            margin-bottom: 10px;
        }
        button {
            color: white;
            border: 1px solid white;
            background: transparent;
            padding: 5px;
            width: 100%;
        }
    }
}
.movie-info:not(:last-child){
    margin-bottom: 50px;
}