nav{   
    display: none;    /*hiding menu items*/
    width: 100%;
    

    ul{
        list-style-type: none;
        padding: 0;
        margin: 0;
        background: black;
        
        li{
            border-top: 1px solid #858585;
        }
        li:last-child{
            border-bottom: 1px solid #858585;
        }
    }
    
    a{
        padding-left: 12px;
        display: block;
        line-height: 40px;
        
        text-decoration: none;
        color: white;

        &:hover,
        &:active,
        &:focus{
            color: $red;
            cursor: pointer;
            // text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.8);
        }
        
    }
    @include mq($phoneLandscapeSmall) {  
        display:block;
        ul{
            display: flex;
            justify-content: flex-end;

            li, li:last-child{
                border:none;
                padding: 0 20px;
            }
        }
  }
}
.show nav, 
.show span.logo {
    display: block;
}

.show nav{
    position: absolute;
    z-index: 2;
}
.show nav ul{
    align-items: center;
}

.show #nav-hm .hm-menu:nth-child(1){
    top:18px;
    width:0%;
    left:50%;
 }

.show #nav-hm .hm-menu:nth-child(2){
    -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
 }

.show #nav-hm .hm-menu:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 12px;
  }
  
  .show #nav-hm .hm-menu:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }
