// Style for Single Movie Page


// Typography
.smovie-wrap {
    h1 {
        font-size: 200%;
        margin-right: 20px;
    }

    h3 {
        color: $blue;
        line-height: 2.8;
    }

    p {
        font-size: 95%;
        line-height: 1.5;
    }
}


// Banner
.smovie-img-wrap {
    position: relative;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
    height: 60vh;
    border-bottom: $blue 3.5px solid;
    border-top: $blue 3.5px solid;

    @include mq($tabletLandscape){
        height: 72vh;
    }
}

.bgposter {
    background-color: rgba(0, 0, 0, 0.85); // Tint color
    background-blend-mode: multiply;
}

.smovie-poster {
    width: 250px;
    margin: 0 auto;
    position: absolute;
    display: flex;
    justify-content: center;
    z-index: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 5px 10px black);

    img {
        max-height: 50vh;

    }
    

    // .poster {
    //     justify-content: center;
    //     margin: 0 auto;
    //     justify-content: center;
    // }

    @include mq($tabletLandscape){
        width: 240px;
        top: 50%;
        left: 30%;
        transform: translateY(0%, -50%);
        // justify-content: right;
    }
    
    @include mq($desktopsmall){
        width: 300px;
    }

    @include mq($desktopsmall){
        width: 350px;
    }
}


// Movie info content
.smovie-content{
    margin: 30px;
    

    @include mq($tabletLandscape){
        position: absolute;
        width: 40%;
        top: 50%;
        left: 48%;
        transform: translate(0%, -50%);
        max-height: 60vh;
    }

    @include mq($desktopsmall){
        width: 35%;
    }

}

.smovie-text {
    display: flex;
    flex-wrap: wrap;
}

.released, .rate {
    width: 50%;
}

.overview, .released, .rate, .genre {
    h3 {
        margin-top: 10px;
    }
}

.smovie-header {
    display: block;

    @include mq($phoneLandscapeSmall){
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }
}

