.year{
    form{
        padding: 10px 30px;
        display: grid;
        grid-template-columns: 40% 1fr;
        align-items: center;
        @include mq($phoneLandscape) { 
            grid-template-columns: 69% 1fr;
            padding-left: 0px;
        }

        select{
            border: 2px solid $red;
            margin-left: 10px;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            background: url(../../images/down-arrow.png) right center / 20px no-repeat;
            background-position: calc(100% - 5px) center !important;
            padding-left: 10px;
            @include mq($phoneLandscape) { 
                width:80px;
            }
                
        }
    }
}