// App Style Settings

// Colors
$red: #c74649;
$blue: #0098ff;
$purple: #ac3ad9;


// Type
$bodyFont:'Lato', sans-serif;
$headingFont: 'Gotherm-Rounded-Book', sans-serif;

// Layout
$section-padding: em(16) em(20);

// Media Query Breakpoints
$desktopsmall:em(1600);
$tabletLandscape: em(1024);
$tabletPortrait: em(850);
$phoneLandscape: em(670);
$phoneLandscapeSmall: em(615);
$phonePortrait: em(420);