.global-search{
    border-bottom: 1px solid #b5b5b5;
    display:flex;
    align-items: center;
    padding-left: 10px;

    .search-icon{
        width: 20px;
        height: 20px;
        filter:  brightness(0) invert(1);

    }

    input[type="text"] {
        width: 100%;
        background: transparent;
        border: none;
        // border-bottom: 1px solid #b5b5b5;
        line-height: 3;
        padding: 0 10px;
        font-size: 15px;
    }
}