@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i&display=swap");
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0; }

img {
  max-width: 100%;
  height: auto; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

h1, h2, h3, p {
  margin: 0; }

/* Typography */
@font-face {
  font-family: 'Gotherm-Rounded-Book';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/grbook.ttf") format("truetype"); }
@font-face {
  font-family: 'Gotherm-Rounded-Bold';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/grbold.ttf") format("truetype"); }
@font-face {
  font-family: 'Gotherm-Rounded-Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/grlight.ttf") format("truetype"); }
@font-face {
  font-family: 'Gotherm-Rounded-Medium';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/grmedium.ttf") format("truetype"); }
body {
  font-family: "Lato", sans-serif; }

h1, h2, h3, h4 {
  font-family: "Gotherm-Rounded-Book", sans-serif; }

h1, h2, h3, h4, p {
  margin-top: 0; }

body {
  background-color: black;
  color: white; }

hr {
  margin: 0;
  border: 1px solid #c74649; }

.wrapper {
  padding-bottom: 30px; }
  @media (min-width: 41.875em) {
    .wrapper {
      padding-right: 20px;
      padding-left: 20px; } }

header {
  padding-top: 1.5em; }
  header .mobile-header {
    position: relative;
    padding-bottom: 20px; }
    header .mobile-header h1 {
      margin: 0; }
      header .mobile-header h1 .logo {
        width: 70px;
        height: 52px;
        background-image: url("/images/mvdb_logo.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0 auto; }

@media (min-width: 41.875em) {
  .header-oneline {
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center; }
    .header-oneline header {
      display: grid;
      grid-template-columns: 30% 1fr; } }
header nav {
  display: none;
  /*hiding menu items*/
  width: 100%; }
  header nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background: black; }
    header nav ul li {
      border-top: 1px solid #858585; }
    header nav ul li:last-child {
      border-bottom: 1px solid #858585; }
  header nav a {
    padding-left: 12px;
    display: block;
    line-height: 40px;
    text-decoration: none;
    color: white; }
  @media (min-width: 41.875em) {
    header nav {
      display: block; }
      header nav ul {
        display: flex; }
        header nav ul li, header nav ul li:last-child {
          border: none;
          padding: 0 20px; } }

.show header .mobile-header a,
.show header .mobile-header button {
  color: #ffffff;
  text-shadow: none; }

.show header nav, .show span.logo {
  display: block; }

.show header nav {
  position: absolute;
  z-index: 2; }

.show header nav a:hover,
.show header nav a:active,
.show header nav a:focus {
  background-color: #c74649; }

footer {
  font-size: 0.8em;
  font-weight: 200;
  text-align: center;
  padding: 10px 0;
  border-top: 2px solid #0098ff; }
  footer .footer-logo {
    width: 40px;
    height: 30px;
    background-image: url("/images/mvdb_logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15px auto; }

.global-search {
  border-bottom: 1px solid #b5b5b5;
  display: flex;
  align-items: center;
  padding-left: 10px; }
  .global-search .search-icon {
    width: 20px;
    height: 20px;
    filter: brightness(0) invert(1); }
  .global-search input[type="text"] {
    width: 100%;
    background: transparent;
    border: none;
    line-height: 3;
    padding: 0 10px;
    font-size: 15px; }

.sort-movies {
  padding: 30px 0; }
  @media (min-width: 41.875em) {
    .sort-movies {
      display: flex;
      justify-content: flex-start; } }

.custom-select-wrapper {
  position: relative;
  user-select: none;
  width: 100%;
  padding: 10px 0; }
  .custom-select-wrapper .sort-by,
  .custom-select-wrapper .choose-year {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    padding: 0 30px; }
    .custom-select-wrapper .sort-by .sort-by-text,
    .custom-select-wrapper .sort-by .choose-year-text,
    .custom-select-wrapper .choose-year .sort-by-text,
    .custom-select-wrapper .choose-year .choose-year-text {
      font-size: 20px; }
  .custom-select-wrapper .choose-year {
    grid-template-columns: 60% 40%; }
  .custom-select-wrapper .custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #c74649; }
    .custom-select-wrapper .custom-select .custom-select__trigger {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 10px;
      font-size: 20px;
      font-weight: 300;
      color: #ffffff;
      height: 40px;
      line-height: 40px;
      background: transparent;
      cursor: pointer;
      border-width: 2px 0 2px 0;
      border-style: solid;
      border-color: #c74649; }
      .custom-select-wrapper .custom-select .custom-select__trigger .arrow {
        position: relative;
        height: 15px;
        width: 15px; }
      .custom-select-wrapper .custom-select .custom-select__trigger .arrow::before, .custom-select-wrapper .custom-select .custom-select__trigger .arrow::after {
        content: "";
        position: absolute;
        bottom: 0px;
        width: 0.15rem;
        height: 100%;
        transition: all 0.5s; }
      .custom-select-wrapper .custom-select .custom-select__trigger .arrow::before {
        left: -5px;
        transform: rotate(-45deg);
        background-color: #c74649; }
      .custom-select-wrapper .custom-select .custom-select__trigger .arrow::after {
        left: 5px;
        transform: rotate(45deg);
        background-color: #c74649; }
    .custom-select-wrapper .custom-select .custom-options {
      position: absolute;
      display: block;
      top: 100%;
      left: 0;
      right: 0;
      border: 2px solid #c74649;
      border-top: 0;
      background: black;
      transition: all 0.5s;
      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      z-index: 2; }
      .custom-select-wrapper .custom-select .custom-options .custom-option {
        position: relative;
        display: block;
        padding: 0 22px 0 22px;
        font-size: 20px;
        font-weight: 300;
        color: white;
        line-height: 40px;
        cursor: pointer;
        transition: all 0.5s; }
      .custom-select-wrapper .custom-select .custom-options .custom-option:hover {
        cursor: pointer;
        background-color: #b2b2b2; }
      .custom-select-wrapper .custom-select .custom-options .custom-option.selected {
        color: #ffffff;
        background-color: #c74649;
        width: 100%; }
  .custom-select-wrapper .custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all; }
  .custom-select-wrapper .custom-select.open .arrow::before {
    left: -5px;
    transform: rotate(45deg); }
  .custom-select-wrapper .custom-select.open .arrow::after {
    left: 5px;
    transform: rotate(-45deg); }

.movie-lists {
  padding: 0px 20px; }
  .movie-lists h2 {
    padding-bottom: 50px;
    color: #c74649; }
  @media (min-width: 41.875em) {
    .movie-lists .movie-list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 20px; } }
  @media (min-width: 100em) {
    .movie-lists .movie-list {
      grid-template-columns: repeat(3, 1fr); } }

.movie-info {
  display: grid;
  grid-template-columns: 48% 1fr;
  position: relative;
  border: 1px solid #0098ff;
  justify-items: center; }
  @media (min-width: 41.875em) {
    .movie-info {
      height: 335px; } }
  .movie-info figure {
    margin: 5px;
    position: relative;
    top: -40px; }
    @media (min-width: 64em) {
      .movie-info figure {
        width: 200px; } }
  .movie-info .movie-text {
    padding: 10px;
    padding-bottom: 25px; }
    @media (min-width: 64em) {
      .movie-info .movie-text {
        padding-right: 30px; } }
    .movie-info .movie-text h3 {
      padding: 10px 0; }
    .movie-info .movie-text .rating {
      display: flex;
      padding-bottom: 10px; }
      .movie-info .movie-text .rating .star-img {
        width: 25px;
        height: 25px; }
    .movie-info .movie-text .released-data {
      padding-bottom: 10px; }
    .movie-info .movie-text .movie-summary {
      max-height: 98px;
      overflow: hidden;
      padding-bottom: 10px;
      margin-bottom: 10px; }
    .movie-info .movie-text button {
      color: white;
      border: 1px solid white;
      background: transparent;
      padding: 5px;
      width: 100%; }

.movie-info:not(:last-child) {
  margin-bottom: 50px; }

.load-more {
  text-align: center;
  padding: 40px 0px; }
  .load-more button {
    background-color: #c74649;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    padding: 10px;
    width: 200px; }

/* hamburger Style */
.btn-menu {
  font-family: Arial, Helvetica, sans-serif;
  background: none;
  border: none;
  font-size: 2.3em;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  position: absolute;
  left: 20px; }
  .btn-menu .icon {
    position: relative; }
  .btn-menu #nav-hm {
    width: 28px;
    height: 28px;
    position: relative;
    margin: 10px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer; }
    .btn-menu #nav-hm .hm-menu {
      display: block;
      position: absolute;
      height: 2px;
      width: 100%;
      background: #ffffff;
      opacity: 1;
      left: 0;
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out; }
    .btn-menu #nav-hm .hm-menu:nth-child(1) {
      top: 0px; }
    .btn-menu #nav-hm .hm-menu:nth-child(2), .btn-menu #nav-hm .nav-hm .hm-menu:nth-child(3) {
      top: 12px; }
    .btn-menu #nav-hm .hm-menu:nth-child(4) {
      top: 24px; }
  .btn-menu #nav-hm.open .hm-menu:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%; }
  .btn-menu #nav-hm.open .hm-menu:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg); }
  .btn-menu #nav-hm.open .hm-menu:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 12px; }
  .btn-menu #nav-hm.open .hm-menu:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%; }
  @media (min-width: 41.875em) {
    .btn-menu {
      display: none; } }

/*# sourceMappingURL=styles.css.map */
