// Type
/* Typography */

@font-face {
    font-family: 'Gotherm-Rounded-Book';
    font-style: normal;
    font-weight: normal;
    src:url('../fonts/grbold.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotherm-Rounded-Bold';
    font-style: normal;
    font-weight: normal;
    src:url('../') format('truetype');
}

@font-face {
    font-family: 'Gotherm-Rounded-Light';
    font-style: normal;
    font-weight: normal;
    src:url('../fonts/grlight.ttf') format('truetype');
}

@font-face {
    font-family: 'Gotherm-Rounded-Medium';
    font-style: normal;
    font-weight: normal;
    src:url('../fonts/grmedium.ttf') format('truetype');
}


body {
    font-family: $bodyFont;
   
}

h1, h2, h3, h4 {
    font-family: $headingFont;
}

h1, h2, h3, h4, p {
    margin-top: 0;
}